<form>
  <div class="form-group">
    <% if @sale.present? %>
      <label class="padt10">Party: <%= @sale.entity.name %></label>
      <%= hidden_field_tag :sale_id, @sale.id %>
    <% end %>
  </div>
  <div class="form-group">
    <label class="padt10">Amount</label>
    <%= f.text_field :amount, :required => true, class: 'form-control' %>
  </div>
  <div class="form-group">
    <label class="padt10">Description</label>
    <%= f.text_field :description, class: 'form-control' %>
  </div>
  <div class="form-group">
    <label class="padt10">Payment Type</label>
    <%= select("payment", "payment_type", [['Cash Payment', 'cash_payment'],['Cheque Payment', 'cheque_payment'],['Angadia Payment', 'angadia_payment']], {}, { :class => ""})%>
  </div>
  <div id="angadia_payment_options" style="display: none;">
    <div class="form-group">
      <label class="padt10">From person</label>
      <%= f.text_field :from_person, class: 'form-control' %>
    </div>
    <div class="form-group">
      <label class="padt10">To person</label>
      <%= f.text_field :to_person, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <label class="padt10">Payment Date</label>
    <%= f.date_select :payment_date %>
  </div>
  <%= f.submit "Save", :class => "btn btn-success" %>
  <%= link_to payments_path do %>
    <button type="button" class="btn btn-danger">Cancel</button>
  <% end %>
</form>


<script type="text/javascript">
  $('#payment_payment_type').on('change', function() {
    if( this.value == 'angadia_payment'){
      $('#angadia_payment_options').show()
    }else{
      $('#angadia_payment_options').hide()
    }
  });
</script>
