<div class="container">
  <div class="row">
    <div class="col-md-12 primary">
      <div class="pad10 white--text font15">Payments</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 text-left pad10">
      <%= link_to 'Home', root_path %> > Payments
    </div>
    <div class="col-md-12 text-right">
      <%= link_to new_payment_path do %>
        <button class="btn btn-success mar10" type="submit">Add New</button>
      <% end %>
    </div>
  </div>
  <table class="table">
    <tr>
      <th>Date</th>
      <th>Party</th>
      <th>Amount</th>
      <th>Type</th>
      <th></th>
    </tr>
    <% @payments && @payments.each do |p| %>
      <tr>
        <td><%= p.payment_date.strftime("%d/%m/%y") %></td>
        <td>
          <b><span class="font12"><%= p.entity.name %></span></b>
        </td>
        <td><%= p.amount %></td>
        <td><%= p.payment_type %></td>
        <td>
          <%= link_to edit_payment_path(p) do %>
            <button class="btn btn-info" type="submit">Edit</button>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>