<div class="container">
  <div class="row">
    <div class="col-md-12 primary">
      <div class="pad10 white--text font15">Add New Payment</div>
    </div>
  </div>
  <section>
    <%= form_for @payment do |f| %>
      <%= render "payments/form", :f => f %>
    <% end %>
  </section>
  <div class="padt50">
    All Payments
    <table class="table table-striped table-bordered">
      <tr>
        <th>Date</th>
        <th>Amount</th>
        <th>Type</th>
        <th>from_person</th>
        <th>to_person</th>
        <th>description</th>
        <th></th>
      </tr>
      <% @payments && @payments.each do |p| %>
        <tr>
          <td><%= p.payment_date.strftime("%d/%m/%y") %></td>
          <td>
            <% if p.rupees? %>
              &#8377; <%= number_with_delimiter(p.amount) %>
            <% else %>
              $ <%= number_with_delimiter(p.amount) %>(<%= p.conversion_rate %>)
            <% end %>
          </td>
          <td><%= p.get_payment_type %></td>
          <td><%= p.from_person %></td>
          <td><%= p.to_person %></td>
          <td><%= p.description %></td>
          <td>
            <%= link_to edit_payment_path(p) do %>
              <button class="btn btn-info" type="submit">Edit</button>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

